.carousel, .scrollable, .arrow, .carousel img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Carousel main class */
.carousel {
    position: relative;
    display: flex;
    background: url(images/bg.JPG);
    /* default width (100%) of viewport throught 'right' */
    /*right: 0;*/
    margin: 0 auto;
    overflow: hidden;
    overflow-x: scroll;
    z-index: 10;
}
/* Carousel's scrollable area */
.scrollable {
    position: absolute;    
    display: inline-table;
    /*width: 100%;*/
    height: 100%;
    z-index: 12;
}
/* Carousel's separate images*/
.carousel img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
    z-index: 13;
}
/* Carousel's arrow symbol */
.arrow {
    position: relative;
    /*position: absolute;*/
    display: none;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    text-align: right;
    margin: auto 0;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);
    z-index: 11;
}
/* TODO: Carousel's navigation pan */
.nav {
    /*position: relative;*/
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    margin: 0 auto;
    z-index: 14;
}
/* Scroll area*/
.carousel::-webkit-scrollbar {
    height: 18px;
    background: rgba(255, 255, 255, 0.2);
    /*box-shadow: inset 0px 3px 16px 4px black;*/
}
.carousel::-webkit-scrollbar-thumb {
    background: cornflowerblue;
    /*border-bottom: 5px solid cornflowerblue;*/
    /*background: rgba(255, 255, 255, 0.3);
    background: url('images/scroll-bg.gif.png') 0 repeat-x;
    background-position: center top;*/
    /*box-shadow: 0px 0px 8px black;
    border-radius: 50% 50% 50% 50% / 70% 70% 40% 40%;
    border-radius: 50% / 15% 15% 0% 0%;*/
}