.carousel,
.carousel .scrollable,
.arrow,
.carousel img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Carousel main class */
.carousel {
    position: relative;
    display: flex;
    background: url(images/bg.JPG);
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}
/* Carousel's scrollable area */
.carousel .scrollable {
    position: absolute;
    display: inline-table;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 12;
}
/* Carousel's separate images*/
.carousel img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
    z-index: 13;
}
/* Carousel's arrow symbol */
.arrow:before {
    content: "\279c";
    content: "\279f";
}
.arrow {
    position: relative;
    display: none;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    text-align: right;
    margin: auto 0;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);
    z-index: 11;
}