/* TODO: Carousel's navigation pan */
.controls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;    
    overflow: hidden;
    z-index: 99;
}
.controls > nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    text-align: center;
    margin: auto 0;
    z-index: 14;
}
.controls nav ul {
    display: inline-block;
    position: absolute;
    /*border: 2px solid white;*/
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0px;
    z-index: 14;
}
.controls nav ul > li {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(25, 25, 112);
    background: rgba(100, 149, 237, 0.6);
    margin: auto 5px;    
    transform: rotateZ(45deg);
    z-index: 14;
}
.controls nav ul > li:hover {
    background: rgba(255, 165, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.controls nav ul > li.current {
    background: white;
}
/*Go to previous image and go to next image styles*/
.controls > .nav-prev, .controls > .nav-next {
    position: absolute;
    width: 50px;
    height: 100%;
    z-index: 99;
    color: rgba(255, 255, 255, 0.5);    
}
.controls > .nav-next { right: 0; }
.controls > .nav-prev a:before, .controls > .nav-next a:before { content: "\279c"; }
.controls > .nav-prev a, .controls > .nav-next a {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%) rotateY(180deg);
}
.controls > .nav-next a { transform: translateX(-50%) translateY(-50%) rotateY(0deg); }
.controls > .nav-prev a:hover, .controls > .nav-next a:hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
}
.nav-prev a:hover, .nav-next a:hover { cursor: pointer; }