html, body {
    margin: 0;
}

.console {
    position: fixed;
    border: 6px solid blue;
    /*bottom: 0;*/
    right: 0;
    width: 300px;
    height: 250px;
    overflow: auto;
    font-size: 14px;
}

.b1 { border: 0px solid rgba(58, 72, 237, 1); border-radius: 10px; box-shadow: 0px 0px 64px 6px #888888; }
.b2 { /*border: 0px solid rgb(238, 255, 34); border-radius: 0px; box-shadow: 0px 0px 32px 4px black;*/ }
.b3 { border: 8px ridge gray; }
.b4 { border: 8px ridge gray; }
.params {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid gray;
    border-radius: 4px;
    height: 200px;
    margin: 20px;
}
#slider1 {
    width: 100px;
}
#slider1 .ui-slider-range { background: #ef2929; }